* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FEDCC8;
    font-family: cursive;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    position: relative;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.parallax__cover {
    background: #2D112B;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 2;
}

.parallax__cover h4 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.heading {
    color: #ffffff;
    text-align: center;
    padding-top: 300px;
    font-size: 3rem;
    text-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.parallax__layer__0 {
    transform: translatey(-100px) scale(2.2);
}

.parallax__layer__1 {
    transform: translatez(-100px) scale(2.2);
}

.parallax__layer__2 {
    transform: translateZ(-100px) scale(2.2);
}

.parallax__layer__3 {
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__4 {
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__5 {
    transform: translateZ(-200px) scale(3);
}

/* Animate on Scroll  */

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #ffffff;
} 
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}
.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .image{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .text-box{
    z-index: 222;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    transform: translate(-80px,50px);
}