* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FEDCC8;
    font-family: cursive;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    position: relative;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.parallax__cover {
    background: #2D112B;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 2;
}

.parallax__cover h4 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.heading {
    color: #ffffff;
    text-align: center;
    padding-top: 300px;
    font-size: 3rem;
    text-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.parallax__layer__0 {
    transform: translatey(-100px) scale(2.2);
}

.parallax__layer__1 {
    transform: translatez(-100px) scale(2.2);
}

.parallax__layer__2 {
    transform: translateZ(-100px) scale(2.2);
}

.parallax__layer__3 {
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__4 {
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__5 {
    transform: translateZ(-200px) scale(3);
}

/* About section */

#summary{
    justify-content: center;
}

/* Download button  */
.download-btn{

    display: flex;
    align-items: center;
    background-color: orangered;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    transition: all 0.4s ease;
}
.download-btn:hover{
    background-color: rgb(245, 120, 75);
    font-size: 1.2rem;
}
#logo{
    font-size: x-large;
    font-weight: 500;
}